.margn{
    margin-top: 8px;
}
.background_colour{
    
}
.right{
    float: right;
}

#mainnav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    
}
#mainnav ul.right{
    float: right;
}
.rajat{
    text-align: center;
}
#mainnav ul li{
   
   
    margin: 0px 10px;
    padding:  11px 10px;
}
#mainnav ul li i{
    color: #696763;
    padding: 8px;
}
#mainnav ul li a{
     color: #696763;
    
}
#header-bottom ul li{
    margin: 0px 10px;
    padding:  11px 10px;
}
#header-bottom ul li a{
        
color: #696763;
}
.search{
    margin-top: 20px;
}
.carousel-control.left{
    background: none;
}
.carousel-control.right{
    background: none;
}
.buttoncolor{
    margin-top:20px;
    width: 100px;
    height: 50px;
    background-color: orangered;
}
.item h1{
    color: #696763;
    font-size: 40px;
    margin-top: 100px;
}
 .item h2{
     
      font-size: 30px;
     font-weight: 700;
  
    }
.item .contain{
    margin-left: 15%;
    width: 40%;
}
.item p{
    margin-top: 15px;
}
.ram{
    height: 100%;
    text-align: center;
    width: 100%;
    border: solid 1px #696763;
}
.tt{
    height: 500px;
}
.ram h1{
    color: darkorange;
        
    font-weight: 500;
}
.ram button{
    margin-bottom: 10px;
    font-weight: 400;
}
.contant{
    
    margin-top: 30px;
   
}
.bs-example ul {
 list-style: none;
   
}

.bs-example{
   
}
.list ul{
    list-style: none;
    
    
}
.list{
    border: 2px solid #696763;
    padding: 20px;
    margin-top: 20px;
   
    
}
.list ul li{
    
   padding: 10px;
     border-bottom: 1px solid #696763;
}
.bs-example ul li{
    padding: 5px;
    border: none;
    margin-left: -40px;
}
.cont1{
    margin-left: 50px;
}
/*
.block{
    position: relative;
}
*/
.block:after{
    content: "";
        
    position: absolute;
    height: 100%;
    width: 90%;
    left: 5%;
/*    top: 0px;*/
    background-color:rgba(0,0,0,0.2);
    opacity: 0;
    top: -100%;
    transition: 1s;
    z-index: 20000;
    overflow: hidden;
}
.block:hover:after
{
    overflow: hidden;
    top: 0%;
    opacity: 1;
}
.good{
  
    transition: 1s;
    
}
.block:hover:.good{
    position: absolute;
    
    opacity: 1;
}
.block{
 padding-top: 20px;
    overflow: hidden;
}



